:root {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  --font-fam: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --bg-color: #5d5d5d;
  --accents-color: #e4e4e4;
  --green: #4ae67e;
  --light-green: rgba(74, 230, 126, 0.5) e;
  --orange: #fb8960;
  --light--orange: rgba(251, 137, 96, 0.5);
  --transition-speed: 300ms;
  transition: var(--transition-speed) ;
  --shadow: 0.5px 0.5px 6px #0000001a;
}

button {
  box-shadow: none;
  border: none;
  text-shadow: none;
  cursor: pointer;
  transition: var(--transition-speed) ;
}
button:hover {
  box-shadow: none;
  border: none;
  text-shadow: none;
  filter: brightness(80%);
  transition: var(--transition-speed) ;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
}
button:disabled{
  cursor: default;
  filter: brightness(50%);
}
input {
  box-shadow: none;
  border: none;
  text-shadow: none;
}
input:hover {
  box-shadow: none;
  border: none;
  text-shadow: none;
}
input:active {
  outline: none;
  border: none;
}
input:focus {
  outline: none;
}


/* ---------------- overview ------------------ */
.overview-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  margin: 2rem;
}

.overview-search {
  border-radius: 0.25rem;
  background-color: var(--accents-color);
  color: var(--bg-color);
  height: 2rem;
  padding-left: 1rem;
  margin-bottom: -1rem;
  caret-color: var(--bg-color);
}

.overview-top-buttons-flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.overview-top-button {
  font: var(--font-fam);
  flex-grow: 1;
  border: none;
  border-radius: 0.25rem;
  height: 35px;
  background-color: var(--accents-color);
  color: var(--bg-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-shadow: var(--shadow);
}
.available {
  background-color: var(--green);
}
.booked {
  background-color: var(--orange);
}
.arrow-icon-top {
  fill: var(--bg-color);
}

.overview-buttons-bottom-flex {
  display: flex;
  width: 100%;
  justify-content: center;
}
.page-n-of {
  color: var(--accents-color);
  padding: 1px 0px 0px 0px;
  margin: 0px 1rem 0px 1rem;
}
.change-page {
  background: transparent;
}
.change-page:disabled {
  background: transparent;
}

.parking-spots-list {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.parking-spots-list-item {
  display: flex;
  height: 100px;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--accents-color);
  padding: 0.5rem;
  box-shadow: var(--shadow);
  box-sizing: border-box;
}
.available-item {
  background-color: var(--light-green);
}
.booked-item {
  background-color: var(--light-green);
}
.name-address {
  display: flex;
  flex-direction: column;
  grid-column: 1;
}
.imgs {
  grid-column: 2;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow-x: hidden;
  border-radius: 0.25rem;
  max-width: 70%;
}
img {
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
}
a {
  text-decoration: none;
  color: var(--bg-color);
}


 /* ---------- add/edit parking spot ---------- */
.add-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 2rem;
}
.inner-horizontal {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.inner-vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-input {
  border-radius: 0.25rem;
  background-color: var(--accents-color);
  color: var(--bg-color);
  height: 2rem;
  padding-left: 1rem;
  caret-color: var(--bg-color);
}

.inputfile + label {
  font: var(--font-fam);
  flex-grow: 1;
  border: none;
  border-radius: 0.25rem;
  height: 35px;
  padding: 0.5rem 0.5rem 0px 0.5rem ;
  margin-top: 1rem;
  background-color: var(--accents-color);
  color: var(--bg-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-shadow: var(--shadow);
  transition: var(--transition-speed) ;
}
.inputfile:focus + label,
.inputfile + label:hover {
  filter: brightness(80%);
  transition: var(--transition-speed) ;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image-list-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}
.image-list-flex img {
  max-width: 250px;
  max-height: 150px;
}

.addpic {
  margin-top: 1rem;;
}

/* ----------------- login --------------- */
.login-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin: 2rem;
}
.centering-wrapper {
  display: flex;
  place-content: center;
}
.login-text{
  margin-top: 0.4rem;
  color: var(--accents-color);
}

/* -------------- all bookings ------------------- */

.booking-list {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
}
.booking-item {
  display: flex;
  height: auto;
  gap: 2rem;
  width: 100%;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--accents-color);
  /* padding: 0.5rem; */
  padding-left: 1rem;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  /* padding-top: 0.7rem; */
  overflow: hidden;
  color: var(--bg-color);
}
.bi-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}
.delete-button {
  height: 5rem;
  width: 5rem;
  background-color: rgb(179, 96, 96);
  /* margin: -0.7rem -0.5rem -0.5rem auto; */
  margin-left: auto;
} 

.bookings-top-buttons-flex {
  display: flex;
  gap: 1rem;
  width: 25%;
}

/* -------------- details -------------- */
.bookings-label {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--accents-color);
}
.avl {
  font-weight: bold;
  color: var(--green);
}
.bkd {
  font-weight: bold;
  color: var(--orange);
}
.arrowbutton {
  background-color: transparent;
}
.pname {
  font-weight: bold;
  font-size: 2rem;
  color: var(--accents-color);
}
.pad {
  font-weight: bold;
  color: var(--accents-color);
}
.modif {
  justify-content: space-between ;
}
.img-flex-details{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nob {
  color: var(--accents-color);
  align-self: center;
}
.edit {
  margin-left: auto;
  margin-right: 1rem;
  align-self: center;
  text-align: center;
}
.edit-flex {
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

